body, header{

    font-family: Arial, sans-serif;
    color: #fff;    
    background: linear-gradient(to bottom, #03045E, #CAF0F8);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 0;

    
}


nav {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}
p{
    text-decoration: none;
    color: #fff;
}
div{
    text-decoration: none;
    color: #fff;
    
}
h1 {
    font-family: 'Helvetica', serif;
}

iframe{
    text-align: center;
    height: 250px;
    width: 250px;
    position: center, absolute;    
    border-radius: 55px;
    background: #e0e0e0;
    box-shadow:  20px 20px 40px #0096C7,
             -5px -5px 20px #0096C7;

}
.botao-Cima:hover {
    transform: translateY(-10%);
}

.botao-Cima:active {
    box-shadow: 0 0 10px rgba(3, 7, 252, 0.3);
    transform: translateY(0);
}
.contençao{
  text-align: center;
}
input {
    color: #00B4D8;
    border: 2px solid #00B4D8;
    border-radius: 10px;
    padding: 10px 25px;
    background: white;
    max-width: 190px;
   }
   
input:hover{
    box-shadow: 1px 1px 10px #00B4D8;
   }
textarea {
    color: #00B4D8;
    border: 2px solid #00B4D8;
    border-radius: 10px;
    padding: 10px 25px;
    background: white;
    max-width: 190px;
   }
   
textarea:hover{
    box-shadow: 1px 1px 10px #00B4D8;
   }

   .Btn {
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: relative;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    overflow: hidden;
  }
  
  .svgIcon {
    transition-duration: .3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0;
    transition-duration: .4s;
  }
  
  .Btn:hover {
    width: 110px;
    transition-duration: .4s;
    border-radius: 30px;
  }
  
  .Btn:hover .text {
    opacity: 1;
    transition-duration: .4s;
  }
  
  .Btn:hover .svgIcon {
    opacity: 0;
    transition-duration: .3s;
  }